@import "tailwindcss";

::-webkit-scrollbar {
    display:none;
}

@font-face {
    font-family: TrapM;
    src: url('../src/fonts/Trap-Medium.woff2');
}

@font-face {
    font-family: TrapSB;
    src: url('../src/fonts/Trap-SemiBold.woff2');
}

@font-face {
    font-family: TrapR;
    src: url('../src/fonts/Trap-Regular.woff2');
}

@font-face {
    font-family: TrapB;
    src: url('../src/fonts/Trap-Bold.woff2');
}

body {
    background-color: #202020;
}

.TrapM {
    font-family: TrapM;
}

.TrapSB {
    font-family: TrapSB;
}

.TrapR {
    font-family: TrapR;
}

.TrapB {
    font-family: TrapB;
}

.defText {
    color: #fff;
    mix-blend-mode: difference;
}

.grad {
    background: #262222;
    background: linear-gradient(2deg, rgba(38, 34, 34, 0.37) 0%, rgba(0, 0, 0, 0) 64%);
}

.scroll-lock {
    overflow:hidden;
    height: 100%;
    position: fixed;
    width:100%;
    top: 0;
    left: 0;
}

